<html>
    <body>
        Title: <%=session.title%><br/>
        speaker name: <%=session.speaker.name%><br/>
        speaker BIO: <%=session.speaker.bio %><br/><br/>
        <%=session.description%>
    </body>
</html>